body{
    font-family: font-family: 'Montserrat', sans-serif;
}
.principal{
    margin: 0px;
    padding: 0px;
}

.fondo{
    height: 100vh;
    margin: -50px;
    width: 108%;
    

    
}
.fondo2{
    background:linear-gradient(#76278F, #2B1E66);
    height: 100vh;
    margin: -10px;
  top: -50px;
  position: relative;
}
.logo-white{
    height: 75px;
    width: 70px;;
    position: absolute;
    top: 50px;

}
li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
a{
    text-decoration: none;
    color: #fff;
    
  
}
.buttons{
    font-size: 25px;
    display: inline-block;
    padding:10px;   
    top:-580px;
    right: -700px;

}
.buttons:hover{
    color: #FF00BF;
}

.log-in{
    cursor: pointer;
    padding: 5px;
    border: 1px solid #fff;
    background: #2f2246;
    border-radius: 8px 8px 8px 8px;
    position: relative;
    top: -580px;
    width: 90px;
    height: 50px;
    right: -700px;
    font-size: 25px;
    color: #fff;
}
 